{% extends 'base/base.html' %}
{% load static %}

<title>{% block title %}Hóspedes{% endblock title %}</title>

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <h2 class="card-title mt-3">Deletar hóspede</h2>
                <p>
                    Confirme a remoção do hóspede no sistema.
                </p>

                <p>Você tem certeza que deseja remover a reserva do dia {{ reserva.data_entrada }}?</p>

                <form action="{% url 'reserva:delete_reserva' reserva.pk %}" method="POST">
                    {% csrf_token %}
                    <input class="btn btn-danger" type="submit" name="confirm" value="Apagar">
                    <a class="btn" href="{% url 'reserva:reservation' %}">Cancelar</a>
                </form>

            </div>

        </div>
    </div>

{% endblock body %}