{% extends 'base/base.html' %}
{% load static %}

<title>{% block title %}Reserva{% endblock title %}</title>

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">

                            <h2 class="card-title mt-3">Cadastrar Reserva</h2>
                            <p>
                                Aqui você poderá cadastrar uma nova reserva.
                            </p>

                            <form action="" method="post">
                                {% csrf_token %}
                                <div>
                                    <label>Hóspede</label>
                                </div>
                                <div class="input-group mb-3">
                                    <select class="form-control" name="hospede"
                                            aria-label="Informe o hóspede" required="required">
                                        {% for hospede in form.hospede %}
                                            {{ hospede }}
                                        {% endfor %}
                                    </select>
                                </div>

                                <div>
                                    <label>Data - Entrada</label>
                                </div>
                                <div class="input-group mb-3">
                                    <input type="datetime-local" class="form-control"
                                           required="required"
                                           aria-label="Descreva a data de entrada" name="data_entrada"
                                           value="{{ form.data_entrada.value|default_if_none:"" }}">
                                </div>

                                <div>
                                    <label>Data - Saída</label>
                                </div>
                                <div class="input-group mb-3">
                                    <input type="datetime-local" class="form-control"
                                           required="required"
                                           aria-label="Descreva a data de saída" name="data_saida"
                                           value="{{ form.data_saida.value|default_if_none:"" }}">
                                </div>

                                <div>
                                    <label>Qtd. Adultos</label>
                                </div>
                                <div class="input-group mb-3">
                                    <input type="number" class="form-control"
                                           required="required"
                                           aria-label="Descreva a Qtd. de adultos" name="qtd_pessoas_adulto"
                                           value="{{ form.qtd_pessoas_adulto.value|default_if_none:"" }}"
                                           min="0">
                                </div>

                                <div>
                                    <label>Qtd. Crianças</label>
                                </div>
                                <div class="input-group mb-3">
                                    <input type="number" class="form-control"
                                           required="required"
                                           aria-label="Descreva a Qtd. de crianças" name="qtd_pessoas_crianca"
                                           value="{{ form.qtd_pessoas_crianca.value|default_if_none:"" }}"
                                           min="0">
                                </div>

                                <div>
                                    <label>Pago</label>
                                </div>
                                <div class="input-group mb-3">
                                    <select class="form-control"
                                            name="pago"
                                            id="pago"
                                            aria-label="Descreva se reserva está paga"
                                            onchange="hide_element_partial_pay()">
                                        <option value="true"> Sim
                                        </option>
                                        <option value="false"> Não
                                        </option>
                                        <option value="partial"> Parcial</option>
                                    </select>
                                </div>

                                <div>
                                    <label>Valor da reserva</label>
                                </div>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control"
                                           required="required"
                                           aria-label="Descreva o valor da reserva" name="valor_pago_total"
                                           value="{{ form.valor_pago_total.value|default_if_none:"" }}">
                                </div>

                                <div id="id_valor_adiantado" style="display: none">
                                    <div>
                                        <label>Valor adiantado pago</label>
                                    </div>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control"
                                               aria-label="Descreva adiantado pago da reserva"
                                               name="valor_pago_parcial"
                                               id="valor_pago_parcial"
                                               value="{{ form.valor_pago_parcial.value|default_if_none:"" }}">
                                    </div>
                                </div>

                                <div>
                                    <label>Incluir limpeza?</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input"
                                           type="radio"
                                           aria-label="Descreva se pagará limpeza - SIM"
                                           value="True"
                                           name="pagara_limpeza" checked>
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Sim
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input"
                                           type="radio"
                                           aria-label="Descreva se pagará limpeza - NÃO"
                                           value="False"
                                           name="pagara_limpeza">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Não
                                    </label>
                                </div>

                                <div>
                                    <label>Observação</label>
                                </div>
                                <div class="input-group mb-3">
                                    <textarea id="w3review" name="observacao" rows="4"
                                              cols="50">{{ form.observacao.value|default_if_none:"" }}</textarea>
                                </div>

                                <div class="mt-3">
                                    <input class="btn-success btn" type="submit" value="Cadastrar">
                                </div>
                            </form>

                            <div class="mt-2">
                                {{ form.non_field_errors }}
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock body %}