{% extends 'base/base.html' %}
{% load static %}

<title>{% block title %}Hóspedes{% endblock title %}</title>

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <h2 class="card-title mt-3">Cadastrar Hóspedes</h2>
                <p>
                    Aqui você poderá cadastrar novos hóspedes.
                </p>

                <form action="" method="post">
                    {% csrf_token %}
                    <table>
                        {{ form.as_table }}
                    </table>

                    <div class="mt-3">
                        <input class="btn-success btn" type="submit" value="Cadastrar">
                    </div>

                </form>

            </div>

        </div>
    </div>

{% endblock body %}