{% extends 'base/base.html' %}
{% load static %}

<title>{% block title %}Hóspedes{% endblock title %}</title>

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">

                            <h2 class="card-title mt-3">Atualizar Hóspede</h2>
                            <p>
                                Atualize dados de {{ form.nome.value }}.
                            </p>

                            <form action="" method="post">
                                {% csrf_token %}
                                <div>
                                    <label>Nome</label>
                                </div>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control"
                                           required="required"
                                           aria-label="Descreva o nome do hóspede" name="nome"
                                           value="{{ form.nome.value|default_if_none:"" }}">
                                </div>

                                <div>
                                    <label>CPF</label>
                                </div>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control mask-cpf"
                                           required="required"
                                           aria-label="Descreva o CPF do hóspede" name="cpf" minlength="11"
                                           value="{{ form.cpf.value|default_if_none:"" }}">
                                </div>

                                <div>
                                    <label>Data de nascimento</label>
                                </div>
                                <div class="input-group mb-3">
                                    <input type="date" class="form-control"
                                           required="required"
                                           aria-label="Descreva a data de nascimento do hóspede" name="data_nascimento"
                                           value="{{ form.data_nascimento.value|default_if_none:""|date:"Y-m-d" }}">
                                </div>

                                <div>
                                    <label>Telefone</label>
                                </div>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control mask-telefone"
                                           required="required"
                                           aria-label="Descreva o telefone do hóspede" name="telefone" minlength="11"
                                           value="{{ form.telefone.value|default_if_none:"" }}">
                                </div>

                                <div>
                                    <label>Endereço</label>
                                </div>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control"
                                           required="required"
                                           aria-label="Descreva o endereço do hóspede" name="endereco"
                                           value="{{ form.endereco.value|default_if_none:"" }}">
                                </div>

                                <div>
                                    <label>Avaliação</label>
                                </div>
                                <div class="input-group mb-3">
                                    <select class="form-control" name="avaliacao"
                                            aria-label="Descreva a avaliação do hóspede">
                                        <option {% if form.avaliacao.value == 0 %} selected {% endif %} value="0">Ótimo
                                        </option>
                                        <option {% if form.avaliacao.value == 1 %} selected {% endif %} value="1">Bom
                                        </option>
                                        <option {% if form.avaliacao.value == 2 %} selected {% endif %} value="2">
                                            Regular
                                        </option>
                                        <option {% if form.avaliacao.value == 3 %} selected {% endif %} value="3">Ruim
                                        </option>
                                        <option {% if form.avaliacao.value == 4 %} selected {% endif %} value="4">
                                            Péssimo
                                        </option>
                                    </select>
                                </div>

                                <div>
                                    <label>Observação</label>
                                </div>
                                <div class="input-group mb-3">
                                    <textarea id="w3review" name="observacao" rows="4"
                                              cols="50">{{ form.observacao.value|default_if_none:"" }}</textarea>
                                </div>

                                <div class="mt-3">
                                    <input class="btn-warning btn" type="submit" value="Atualizar">
                                </div>
                            </form>

                            <div class="mt-2">
                                {{ form.errors }}
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock body %}