{% extends "base/base.html" %}
{% load i18n static %}

{% block title %}Formulário de Recuperação de Senha{% endblock title %}
{% block body %}

    <div class="container">
        <div class="row">
            <div class="col">

                <div class="mt-5">
                    <h1>{{ title }}</h1>
                    <p>
                        Nós te enviamos um email com instruções para configurar sua senha, se uma conta existe com o
                        email
                        fornecido.</p>
                    <p>
                        Você receberá a mensagem em breve. Se você não recebeu um email, por favor certifique-se
                        que você forneceu o endereço que você está cadastrado, e verifique sua pasta de spam.
                    </p>
                </div>

            </div>
        </div>
    </div>

{% endblock %}