{% extends 'base/base.html' %}
{% load static %}

<title>{% block title %}Ubatuba - Agenda{% endblock title %}</title>

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="p-5 mb-4 bg-light rounded-3">
                    <div class="container-fluid py-5">
                        <h1 class="display-5 fw-bold">Ubatuba - Agenda</h1>
                        <p class="col-md-8 fs-4">Use este portal para visualizar as reservas realizadas do apartamento
                            em Ubatuba - SP.</p>

                        <div class="m-2">
                            <a class="btn btn-primary btn-lg" href="{% url 'reserva:reservation' %}" type="button">Ver
                                reservas</a>
                        </div>

                        <div class="m-2">
                            <a class="btn btn-primary btn-lg" href="{% url 'reserva:create_reserva' %}" type="button">Cadastrar
                                reserva</a>
                        </div>

                        <hr>

                        <div class="m-2">
                            <a class="btn btn-primary btn-lg" href="{% url 'hospede:hospedes' %}" type="button">Ver
                                hóspedes</a>
                        </div>

                        <div class="m-2">
                            <a class="btn btn-primary btn-lg" href="{% url 'hospede:create_hospedes' %}" type="button">Cadastrar
                                hóspede</a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock body %}